.otp-verification-page{
    
        display: flex;
        justify-content: center;
        
        align-items: center;
        height: 100vh; /* Full viewport height */
        width: 100vw; 
        /* background: url('../Assets/Background4.jpg') repeat-x; */
        background: linear-gradient(90deg, #020c5a, #0008fa);
        background-size: cover;
      
  }
.otp-verification-container {
    background: rgba(255, 255, 255, 0.388);
  
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
    /* margin-left: 50px; */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  .icon {
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    color: #888;
  }
  .input-group {
    position: relative;
    margin-bottom: 15px;
  }
  
  .input-group input {
    width: 80%;
    padding: 10px 40px 10px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }

.verify-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
.verify-button:hover {
    background-color: #0056b3;
  }